body{
  background-color:#fff7f1;
  font-family: 'Raleway', sans-serif;
}
h1{
  color:#931621;
  font-size: 50px;
}
h2,h3{
  color:#931621;
  font-family: 'Fjalla One', sans-serif;
}
#c{
  text-align: left;
  margin-left: 10%;
}
p{
  color:#555b6e;
  text-align: justify;
}
#f{
  font-size: 20px;
}
#round{
  border-radius: 28px;
  border: 2px solid #708090;
  padding: 10px;
  width:40%;
  height:auto;

}
hr{
  margin-left: 300px;
  margin-right: 300px;
}
#box{
  width:50%;
  align: center;
  margin-right:10px;
}
img{
padding: 0px;
margin:0px;
}
#a{
  background-color: #DCDCDC;
  width:60%;
}
#full{
  padding:0px;
  margin:0px;
}
#left{
  text-align: right;
  padding-right: 20px;
  padding-left: 20px;
}
#ls{
  text-align:left;
  padd
}
br{
  height:30px;
}
.one{
  text-align: left;
  width:30%;
  color:#931621;
  padding-left:0px;
  margin-left: 0px;
}
table{
  text-align: left;
}
.two{
  text-align: left;
  width:70%;
  color:#931621;
}
#color{
  color:black;
}
footer{
  background-color: #d5b0ac;
  height:90px;
  width:100%;
  text-align:center;
}
